
<div class="col-md-4">
<h2>Bem vindo!</h2>
<p>Este é um teste que vai avaliar suas competências técnicas de UX Design.
    Você é um de nossos convidados pra testar nossa primeira versão do teste. </p>
<form>
  <h2>Cadastro</h2>
<div class="form-group">
  <input type="text" #password class="form-control" id="nomeInput" placeholder="Nome">
</div>
<div class="form-group">
	<input type="email" #email class="form-control" id="emailInput" placeholder="E-mail">
</div>
<div class="form-group">
	<input type="password" #password class="form-control" id="passwordInput" placeholder="Senha">
</div>
<div>
<label>Você se considera</label>
<input type="radio" name="tipo" value="Junior" id="juniorOpBtn"> <label for="juniorOpBtn" class="label">Junior</label>
<input type="radio" name="tipo" value="Senior" id="seniorOpBtn"> <label for="seniorOpBtn" class="label">Senior</label>
<input type="radio" name="tipo" value="Pleno" id="plenoOpBtn"> <label for="plenoOpBtn" class="label">Pleno</label>
</div>     
<br/>
<br/>
<br/>

<button class="btn btn-lg btn-primary btn-block createUserButton" type="submit">Criar conta</button>
<a [routerLink]="['/login']">Já possui uma conta?</a>
</form>

</div>