<p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<div class="col-md-4">
    <h2>Bem vindo!</h2>
    <p>Este é um teste que vai avaliar suas competências técnicas de UX Design.
        Você é um de nossos convidados pra testar nossa primeira versão do teste. </p>
<form>
  <label>Login</label>
<div class="form-group">
	<input type="email" #email class="form-control" id="emailInput" placeholder="E-mail"/>
</div>
<div class="form-group">
	<input type="password" #password class="form-control" id="passwordInput" placeholder="Senha"/>
</div>

<br/>
<br/>
<br/>

<button class="btn btn-lg btn-primary btn-block" (click)="fazerLogin(email.value,password.value)" type="submit">Entrar</button>
<a [routerLink]="['/cadastro']">Primeira vez aqui?</a>
</form>

</div>