
.btn {
    margin: 50px auto 0 auto;
    display: block;
    max-width: 150px;
    background-color: #F27A29;
    border: 0;
    padding: 6px 5px;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.12);
    outline: none !important;
}
.btn:hover,
.btn:focus,
.btn:active {
    background-color: #5f4b8b !important;
    border: 0 !important;
}
.purple-box {
    width: 100%;
    height: 80px;
    background-color: #5F4B8B;
    display: none;
}
.img-background {
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/assets/images/novo-bg3.jpg');
}

input[type="radio"]:empty ~ label,
input[type="checkbox"]:empty ~ label {
    position: relative;
    margin-top: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 46px;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 0px 5px 0px 65px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.4s all;
    transition: 0.4s all;
    padding: 0;
    text-align: center;
    background-color: #5f4b8b;
    color: #FFF;
    font-size: 20px;
    margin-right: 5px;
}
input#nivel1,
input#nivel2,
input#nivel3 {
    display: none;
}
h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}
input[type="password"],
input[type="email"],
input[type="text"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: #828282;
    padding: 7px 10px;
}
.fullpage {
    height: 100vh;
    display: block;
    background-color: rgba(255,255,255,0.7);
    position: relative;
    padding-top: 60px;
}
input[type="radio"]:checked ~ label,
.funkyradio .true-or-false input[type="checkbox"]:checked ~ label {
    background-color: #F27A29;
    color: #FFF;
}
.centralize-content img {
    display: block;
    margin: 0 auto 40px auto;
    max-width: 150px;
}
p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    color: #000;
}
.nivel-considera {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.nivel-considera div {
    flex-grow: 1;
}
a.text-center.ja-possui {
    text-align: center;
    display: block;
    max-width: inherit;
    width: auto;
    margin: 20px auto 0 auto;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}
button.btn.btn-primary.center-block.criar-conta-btn {
    width: 250px;
    max-width: 250px;
    padding: 19px 0;
}
@media screen and (min-width: 540px) {
    a {
        margin: 50px 0 0 auto;
        max-width: 260px;
        padding: 15px 5px;
    }
    .purple-box {
        display: block;
    }
}