<div class="purple-box"></div>
<div class="img-background" style="background-image: url('./assets/images/novo-bg3.jpg');">
  <div class="fullpage">
    <div class="container">
      <div class="centralize-content">
        <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
        <img src="./assets/images/logo-purple.png" alt="Fluxo logo">
        <div class="row">
          <div class="col-lg-6">
              <h2>Bem vindo!</h2>
              <p>Este é um teste que vai avaliar suas competências técnicas de UX Design.
                  Você é um de nossos convidados pra testar nossa primeira versão do teste. </p>
          </div>
          <div class="col-lg-6">
            <form>
              <label>Login</label>
              <div class="form-group">
                <input type="email" #email class="form-control" id="emailInput" placeholder="E-mail"/>
              </div>
              <div class="form-group">
                <input type="password" #password class="form-control" id="passwordInput" placeholder="Senha"/>
              </div>
              <button class="btn btn-lg btn-primary btn-block" (click)="fazerLogin(email.value,password.value)" type="submit">Entrar</button>
             
              <div class="form-group">
                <!--<button type="buton" class="btn btn-block" (click)="signInWithFacebook()">
                  <i class="fa fa-facebook" aria-hidden="true"></i> 
                  Login com Facebook
                </button>-->
                <button type="button" class="btn btn-block" (click)="signInWithGoogle()">
                  <i class="fa fa-google" aria-hidden="true"></i>
                  Login com Gmail
                </button>
              </div>
              <a [routerLink]="['/cadastro']" class="text-center ja-possui">Primeira vez aqui?</a>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
