<div class="purple-box"></div>
<div id="results">
  <div class="container">
      <h1>Você acertou <span id="percentage"></span>%</h1>
      <h2>Parabéns!</h2>
      <p id="message_result"></p>
      <div id="image_result"></div>
    </div>
</div>

<div class="container">
  <div id="comentario">
      <h3>O que você achou do nosso teste?</h3>
      <h3>Deixe um comentário</h3>
      <textarea name="comentario" id="comentario-txt" cols="15" rows="5" placeholder="Comentário (Opcional)"></textarea>
      <button class="prev btn btn-secondary" (click)="enviaComentario()">Enviar mensagem</button>  
  </div>
</div>