<div class="purple-box"></div>
<div class="img-background" style="background-image: url('./assets/images/novo-bg3.jpg');">
  <div class="fullpage">
    <div class="container">
      <div class="centralize-content">
          <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
        <img src="./assets/images/logo-purple.png" alt="Fluxo logo">
        <div class="row">
          <div class="col-lg-6">
            <h2>Bem-vindo!</h2>
            <p>Este teste irá avaliar suas competências técnicas em UX Design, e te mostrará qual seu nível e faixa salarial compatível. Comece agora!</p>
          </div>
          <div class="col-lg-6">
            <h2 id="form-name">Cadastro</h2>
            <form id="cadastro-form" [formGroup]="meuForm">
              <div class="form-group">
              <input type="text" name="nome" placeholder="Nome"  #nome class="form-control" formControlName="nome">
            </div>
            <div class="form-group">
              <input type="email" name="email" placeholder="E-mail"  #email class="form-control" formControlName="email">
            </div>
            <div class="form-group">
              <input type="password" name="senha" placeholder="Crie sua senha (mínimo 6 caracteres)" #password class="form-control" formControlName="senha">
            </div>

              <p>Qual sua área de atuação?</p>
              <div class="nivel-considera form-group">
                <div>
                    <input type="radio" id="area1" name="area" value="Design"  #area class="form-control" formControlName="area">
                    <label for="area1">Design</label>
                </div>
                <div>
                    <input type="radio" id="area2" name="area" value="Outros" #area class="form-control" formControlName="area">
                    <label for="area2">Outros</label>
                </div>
              </div>
              <p>Você se considera:</p>
              <div class="nivel-considera form-group">
                <div>
                    <input type="radio" id="nivel1" name="nivel" value="Júnior"  #nivel class="form-control"formControlName="nivel">
                    <label for="nivel1">Júnior</label>
                </div>
                <div>
                    <input type="radio" id="nivel2" name="nivel" value="Pleno" #nivel class="form-control"formControlName="nivel">
                    <label for="nivel2">Pleno</label>
                </div>
                <div>
                    <input type="radio" id="nivel3" name="nivel" value="Sênior" #nivel class="form-control"formControlName="nivel">
                    <label for="nivel3">Sênior</label>
                </div>
              </div>
              <button class="btn btn-lg btn-primary btn-block" (click)="fazerCadastro(meuForm.value)"
              type="submit" [disabled]="meuForm.invalid">Criar conta</button>
              <a (click)="possuiConta()" class="text-center ja-possui">Já possui uma conta?</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>